.idea
/_postgres
/venv
/htmlcov
/assets
.DS_Store
__pycache__/
.coverage
/catalog/tests/tests_selenium/geckodriver
geckodriver.log
.env
blog/tests/selenium_tests/geckodriver
blog/tests/selenium_tests/geckodriver.log
news/tests/selenium_tests/geckodriver


